<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>-->

<div class="container mt-5">
    <h1>Edit Customer</h1>

    <form method="post" th:action="@{/}" th:object="${customer}" >
        <input type="hidden" th:field="*{id}">
        <div class="mb-3" th:if="${customer.transactionCode != null}">
            <label for="transaction_code" class="form-label">Transaction Code</label>
            <input id="transaction_code" name="transaction_code" th:field="*{transactionCode}" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Transaction Date:</label>
            <input type="date" id="date" name="date" class="form-control" th:field="*{TDate}" placeholder="Date" required />
            <p th:if="${#fields.hasErrors('TDate')}" class="text-danger" th:errors="*{TDate}"></p>
        </div>
        <div class="mb-3" >
            <label for="seatno" class="form-label">Seat Code</label>
            <input  type="text" id="seatno" name="seatno" class="form-control" th:field="*{seatNumber}" placeholder="Seat Number" required >
            <p th:if="${#fields.hasErrors('seatNumber')}" class="text-danger"  th:errors="*{seatNumber}"></p>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Customer Name:</label>
            <input type="text" id="name" name="name" class="form-control" th:field="*{name}" placeholder="Name" required />
            <p th:if="${#fields.hasErrors('name')}" class="text-danger"  th:errors="*{name}"></p>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
